.container {
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-link {
    margin: 0 auto;
}

.col-6 {
    width: 100%;
    margin: 10px auto;
    border: 1px solid black;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-6 button {
    background-color: rgb(70, 10, 191);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
}

.button-area {
    display: flex;
    justify-content: space-between;
}

.link-area {
    height: 100vh;
    overflow: scroll;
}

.col-6 .link {
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
}

.link {
    position: relative;
    margin-bottom: 15px;
}

.col-6 .link .link-container span:first-child {
    padding-right: 10px;
    border-right: 2px solid black;
    margin-right: 10px;

}

.col-6 .link .link-auth {
    position: absolute;
    bottom: -5px;
    right: 50px;
    background: #fff;
    padding: 0 5px;
    font-size: 10px;
}

.link-container {
    cursor: pointer;
}

.link-aut {
    display: flex;
    align-items: center;
}

.link-aut-2 {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 2px 6px;
}

.link-aut img {
    margin-right: 10px;
}

.link-aut .upvote-user {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}

.link-aut .upvote-users {
    cursor: pointer;
}

.upvote-desc {
    display: none;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
}

.upvote-desc.active {
    display: block;
}

.upvote-desc .user-vote {
    margin: 2px 0;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
}